.container {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 1000px;
    margin: 6rem auto;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
}
.container:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}


.descriptionContainer {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "img_container img_container information_container information_container"
    "img_container img_container information_container information_container"
    "img_container img_container information_container information_container";
    width: 1000px;
  border: 2px solid hsla(0, 23%, 22%, 0.584);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
  background-color: #1a1a1a;
  border-radius:0;
 transition: all .2s;


}
.descriptionContainer:hover {
  transform: scale(0.98);
 border-radius: 20px;
}

.img_container {
  /* width: 100%; */
  grid-area: img_container;
}

.information_container {
  position: relative;
  grid-area: information_container;
  display: flex;
  flex-direction: column;

}


  .card_img{
    width: 73%;
   object-fit: cover;
   display: block;
  }


  .title{
    color: #ff3838;
    letter-spacing: 1px;
    text-align: center;
    font-size: 4rem;
    padding: 2rem 0;
  }

  .description_parrafo{
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: #f5f4e8;
    margin-bottom: 10px;
    padding-left: 1rem;

  }
  .description_parrafo_date{
    font-size: 2.5rem;
    line-height: 1.6rem;
    font-weight: 700;
    color:  #ff3838;
    margin-bottom: 10px;
    padding: 1rem;
  }
  .description_parrafo_date_description{
    font-size: 2.5rem;
    line-height: 1.6rem;
    font-weight: 700;
    color:  #ff3838;
    margin-bottom: 20px;
    padding: 1rem;

  }
  
  .description_span_date{
    padding: 1rem;
    color: #c2c2be;
    font-weight: 500;
 
  }
  .div_button_description {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .button_divCard{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    margin-right: 1.5rem;
    gap: 1rem;
    height: 50%;
  }
  
  
  .button_span_deleteMovie {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 5px;
    padding: .2rem 0;
    transition: all ease-out 0.2s;
   }

   .button_span_addMovie {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 235, 205);
    font-weight: 600;
    padding: .2rem 0;
    gap: 5px;
    transition: all ease-out 0.2s;
   }
   .button_span_go_back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    padding: 0.2rem 0;
    gap: 5px;
    transition: all ease-out 0.2s;
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
      margin: 2rem auto;
    }
  
.descriptionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1px 0px;
  border: 2px solid hsla(0, 23%, 22%, 0.584);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
  background-color: #1a1a1a;
  border-radius:0;
 transition: all .2s;


}
  
    .descriptionContainer:hover {
      transform: scale(0.98);
    }
  
    .img_container {
      object-fit: contain;
    }
    .card_img{
      width: 100%;
     object-fit: cover;
     display: block;
    }

    .div_lenguage_year {
      display: flex;
      font-size: 1.2rem;
      line-height: 1.4rem;
      padding: 0;
    }
  .button_divCard {
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }
    .title {
      font-size: 3rem;
      padding: 1rem 0;
      text-align: center;
    }
  
    .description_parrafo,
    .description_parrafo_date,
    .description_parrafo_date_description,
    .description_span_date {
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin-bottom: 0;
      padding: 1rem;
    }
  
  
    .button_span_deleteMovie,
    .button_span_addMovie,
    .button_span_go_back {
      font-size: 1rem;
      padding: 0.2rem 0;
    }
  }
  